.header{
	height:150px;
}
.container{
	width:1000px;
	margin:0px auto;
}
.logo{
	font-size: 80px;
	line-height: 105px;
	padding: 20px;
	font-weight: bold;
}
.brow{
	padding: 5px 0px;
}
.grid-item{
	padding: 10px;
}

.shade-a{
	color:white;
	background: #4183D7;
}
.shade-b{
	color:white;
	background: #5F9DEC;
}

.rightbox{
	display: block;
	clear:both;
}
.margintop-20{
	margin-top: 20px;
}

table{
	margin: 10px 0px;
}
.pad10{
	margin-top: 20px;
	font-weight: bold;
}

.footer{
	padding: 30px 0px 30px;
}
.bg{
	padding:20px;
	color:white;
}
.bg b{
	color:black;
}
.tx{
	padding:20px;
	border-top: 1px solid silver;
}

/* */
.example{
	border:2px solid silver;
	border-bottom:0px solid silver;
	padding: 20px;
	margin-top: 20px;
	position: relative;
}
.example:after{
  content: attr(rel);
  background: #E0E0E0;
  padding: 5px 10px;
  color:#374858;
  position: absolute;
  top: 12px;
  right: 12px;
}
.image{
	border-radius: 150px;
	background: #E0E0E0;
	border: 5px solid #f8f8f8;
	height: 150px;
	width: 150px;

}
pre{
	background: #22313F;
	color:silver;
	margin-top: 0px;
	position: relative;

}
pre:after {
  content: attr(rel);
  background: #374858;
  padding: 5px 10px;
  color:white;
  position: absolute;
  top: 12px;
  right: 12px;
}
code{
	word-wrap: break-word;
}